<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/styles/styles.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <!-- Nav Bar -->
  <nav class="navbar navbar-default">
    <div class="nav-container">
      <div class="navbar-header">
        <p class="navbar-brand"></p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <li id="home"><a href="#"></a>Login</li>
        <li id="about"><a href="#"></a>Register</li>
      </ul>
    </div>
  </nav>

  <!-- Sign In and Submit-->

  <body>
    <main>
      <form action="/entry/login" method="POST" class="form-login">
        <h1>Please sign in</h1>
        <div class="form-email">
          <input
            type="email"
            class="email-input"
            placeholder="name@example.com"
            name="email"
          />
          <label for="email-input">Email address</label>
        </div>
        <div class="form-password">
          <input
            type="password"
            class="password-input"
            placeholder="Password"
            name="password"
          />
          <label for="password-input">Password</label>
        </div>

        <div class="remember-me">
          <label>
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div>
        <button class="sign-in" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>

      <!-- Add a Task/Category -->

      <div>
        <form action="/home/tasks" , method="POST" class="add-task-form">
          <div class="add-category">
            <label class="task-label">Task</label>
            <input type="text" name="addTask" class="add-task-text" />
          </div>
          <button type="submit" class="add-task-button">Add to category</button>
          <label for="pet-select">Choose a Category:</label>

          <select name="category-dd" id="category">
            <option value="">--Please choose an option--</option>
            <option value="1">Movie</option>
            <option value="2">Food</option>
            <option value="3">Book</option>
            <option value="4">Product</option>
          </select>
        </form>
      </div>

      <!-- Tasks Sorted by Category-->

      <!-- For Categories:-->
      <section class="category-containers">
        <div style="border: 2px solid black; margin: 12px" class="movie-box">
          <div class="movie-text">
            <h1 class="h1-boxes">Category: Watch</h1>
            <ul class="movie-list">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>

        <div style="border: 2px solid black; margin: 12px" class="eat-box">
          <div class="eat-text">
            <h1 class="h1-boxes">Category: Eat</h1>
            <ul class="eat-list">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>

        <div style="border: 2px solid black; margin: 12px" class="book-box">
          <div class="book-text">
            <h1 class="h1-boxes">Category: Read</h1>
            <ul class="book-list">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>

        <div style="border: 2px solid black; margin: 12px" class="product-box">
          <div class="product-text">
            <h1 class="h1-boxes">Category: Shop</h1>
            <ul class="product-list">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
