// See: https://sass-lang.com/

html {
  margin: 0;

}
body {
  display: flex;
  justify-content: center;
  background: #14141d;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-top: 5%;

}

  nav {
    display: flex;
    width: 100%;
    height: 5.6rem;
    justify-content: space-between !important;
    align-items: center;
  }

  .navbar {
    position: fixed;
    top: 0;
  }
  .navbar-brand {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    font-size: 25px;
    border: 3px solid white;
    padding: 0 15px;
    margin: 16px 16px 16px 0;
    width: auto;
  }
  .btn-outline-light {
    margin-right: 35px;
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 0;
    font-weight:700;
    font-size: 25px;
    border: 3px solid white;
    padding: 0 20px;
  }

  .btn-outline-light:hover {
    border-color: white;
    color:  white;
    background:  rgba(255, 255, 255, 0.2);
  }


.logo {
  width: auto;
  height: auto;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 120px;
  align-content: center;
  border: 8px solid white;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 5px 45px;
}

.form-email {
  display: flex;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  height: 54px;
  width: auto;
  text-align: center;
}


.form-password {
  display: flex;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  height: 54px;
  width: auto;
  margin-top: 25px;
}

.email-input {
  text-align: center;
  padding: 0 25%;
  font-size: 16px
}

.password-input {
  text-align: center;
  padding: 0 25%;
  font-size: 16px
}

h2 {
  width: 70%;
  margin: .7em auto;
  overflow: hidden;
  text-align: center;
  font-weight:300;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

h2:before, h2:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}
h2:after {
  margin: 0 -55% 0 .5em;
}

.btn-sign {
  display: flex;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  height: 54px;
  width: auto;
  margin-top: 25px;
  font-size: 22px;
}

.sign-in  {
     background:  transparent;
     height:  54px;
     line-height:  40px;
     border:  2px solid white;
     display: inline-block;
     float: none;
     text-align:  center;
     width:  96%;
     padding:  0px!important;
     font-size:  22px;
     color:  white;
 }

.sign-in:hover  {
     color:  white;
     background:  rgba(255, 255, 255, 0.2);
}

.tasks {
  margin-top: 5em;
}

.add-category {
  display: flex;
  justify-content: center;
}
.add-task-text {
  display: flex;
  justify-content: center;
}

.addcat {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.dd {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  width: auto;
  visibility: hidden
}

p {
  color: white;
}

.h1-boxes {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  justify-content: center;
 
}

label {
  color: white;
}

.category-box {
  border-radius: 5px;
  border: 2px solid white; margin: 12px;
  color: white; 
}

.category-box:hover {
  box-shadow: 5px 5px 2px grey;
}

#category-containers {
  border: none;
}

.container-h2 {
  margin-top: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.fa-square-check:hover {
  color: #ebde4c
}

.fa-trash-can:hover {
  color: #ebde4c
}

.name {
  margin-left: 15px;
}

.task-inner {
  margin-left: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.icons {
  margin-right: 15px;

}

.add-task-button  {
  background:  transparent;
  height:  54px;
  line-height:  40px;
  border:  2px solid white;
  display: inline-block;
  float: none;
  text-align:  center;
  width:  96%;
  padding:  0px!important;
  font-size:  22px;
  color:  white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.add-task-button:hover  {
  color:  white;
  background:  rgba(255, 255, 255, 0.2);
}

#modalbtn {
  background:  transparent;
  line-height:  40px;
  border:  2px solid white;
  display: inline-block;
  text-align:  center;
  padding:  0px!important;
  font-size:  22px;
  color:  white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  border-radius: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 65px;
  margin-bottom: 35px;
  width: 105px;
  height: 100px;
}

#modalbtn:hover  {
  border-color: white;
  color:  white;
  background:  rgba(255, 255, 255, 0.2);
  
}

#exampleModalLabel {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  font-weight: bold;

}

.modal-input:focus {
  border-color: rgba(30, 33, 29, 0.8);
  box-shadow: rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
  outline: 0 none;
}

.all-containers {
  display: flex;
  flex-direction: column;
}

.modal-header {
  background-color: #14141d;
  border-radius: 0;
}

.modal-body {
  background-color: #14141d;
}

.modal-span {
  color:white;
}

#exampleModalLabel {
  color: white;
}

.btn-primary, .btn-secondary  {
  background-color: steelblue;
  border-color: antiquewhite;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.btn-primary:hover, .btn-secondary:hover {
  background-color: #001222;
  border-color: antiquewhite;
}
